body {
  background-color: #1b1d23;
}

.page-sidebar {
  background: linear-gradient(180deg, #272a32 10%, #1e77e5);

}

.list-item-dark {
  background-color: transparent;
  color: #f1f1f1;              /* blanco suave, no puro */
  padding: 1rem;
  border-color: transparent;      /* borde sutil */
}

.list-item-dark:hover {
  background-color: #1f2428;
  color: #ffffff;
  cursor: pointer;
}

/* Item activo (opcional) */
.list-item-dark.active {
  background-color: #192987;  /* verde bootstrap */
  color: #ffffff;
  border-color: #192987;
}

.row-gutter-5 {
  --bs-gutter-y: 10px;
}

#btn-refresh i.spin {
  display: inline-block;           /* clave para que rote */
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}


/* =========================
   PRELOADER FULLSCREEN
========================= */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.7);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;

  /* oculto por defecto */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

/* visible */
.preloader.active {
  opacity: 1;
  pointer-events: all;
}

.preloader-content {
  text-align: center;
}

.preloader-progress {
  width: min(420px, 80vw);
  height: 10px;
  background: rgba(255,255,255,0.15);
}
