body {
  background-color: #1b1d23;
}

.page-sidebar {
  background: linear-gradient(180deg, #272a32 10%, #1e77e5);

}

.list-item-dark {
  background-color: transparent;
  color: #f1f1f1;              /* blanco suave, no puro */
  padding: 1rem;
  border-color: transparent;      /* borde sutil */
}

.list-item-dark:hover {
  background-color: #1f2428;
  color: #ffffff;
  cursor: pointer;
}

/* Item activo (opcional) */
.list-item-dark.active {
  background-color: #192987;  /* verde bootstrap */
  color: #ffffff;
  border-color: #192987;
}

.row-gutter-5 {
  --bs-gutter-y: 10px;
}

#btn-refresh i.spin {
  display: inline-block;           /* clave para que rote */
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

